
<% date = Date.today %>
<% technos = ["ERB", "HTML", "CSS", "SCSS"] %>

<h1>Today is <%= date %></h1>


<div class="container text-center">
  <ul class="list-unstyled">
    <% technos.each do |tech| %>
      <li>Nous voyons <%= tech %></li>
    <% end %>
  </ul>
</div>
